.logo{
    width: 200px;
}
.nav-item{
    background-color: black;
}
.nav-link{
    color: white
}
header{
    background-color: black;
}
.menu{
    text-align: center;
}
#dropdownMenu2{
    background-color: black;
}
.btn-primary{
    background-color: purple;
}
#buscar{
    width: 500px;
    background-color: purple;
}
.carousel-inner{
    margin: 0,0,0,00px;

}
#carouselExampleControls{
    margin-left: 20px;
}
#tablaMenu{
    margin-left: 20px;
}
#mejoresTarifas{
    margin-left: 20px;;
}
.card{
    min-height: 400px;
    max-height: 400px;
}
.fas .fa-envelope-open-text{
    width: 500px;
}
#suscribirme{
    background-color: purple;
    display: flex;
    align-self: center;
}
#descargas{
    margin-left: 900px;

}
.btn-link{
    color: purple;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}